;
; Cannabis Reporting/Regulation Engine Definitions
;


;
; Alaska
[usa/ak]
	name = "Alaska / METRC"
	engine = "metrc"
	server = "https://api-ak.metrc.com"
	version = 2015001
	program-key = ""


;
; Alaska / Test
[usa/ak/test]
	name = "Alaska / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-ak.metrc.com"
	version = 2015001
	program-key = ""


;
; California
[usa/ca]
	name = "California / METRC"
	engine = "metrc"
	server = "https://api-ca.metrc.com"
	version = 2015001
	program-key = ""


;
; California / Test
[usa/ca/test]
	name = "California / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-ca.metrc.com"
	version = 2015001
	program-key = ""


;
; Colorado
[usa/co]
	name = "Colorado / METRC"
	engine = "metrc"
	server = "https://api-co.metrc.com"
	version = 2015001
	program-key = ""


;
; Colorado / Test
[usa/co/test]
	name = "Colorado / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-co.metrc.com"
	version = 2015001
	program-key = ""


;
; Hawaii
[usa/hi]
	name = "Hawaii / BioTrack"
	engine = "biotrack"
	server = "https://hicsts.hawaii.gov/serverjson.asp"
	version = 2014001


;
; Illinois
[usa/il]
	name = "Illinois / BioTrack"
	engine = "biotrack"
	server = "https://mcmonitoring.agr.illinois.gov/serverjson.asp"
	version = 2014001


;
; Maine
[usa/me]
	name = "Maine / BioTrack / BETA"
	engine = "biotrack"
	server = "https://me-qa01.biotrackthc.net/serverjson.asp"
	version = 2019270


;
; Massachusetts
[usa/ma]
	name = "Massachusetts / METRC"
	engine = "metrc"
	server = ""
	version = 2015001


;
; New Mexico
[usa/nm]
	name = "New Mexico / BioTrack"
	engine = "biotrack"
	server = "https://mcp-tracking.nmhealth.org/serverjson.asp"
	version = 2014001


;
; Nevada
[usa/nv]
	name = "Nevada / METRC"
	engine = "metrc"
	server = "https://api-nv.metrc.com"
	version = 2015001
	program-key = ""


;
; Nevada / Test
[usa/nv/test]
	name = "Nevada / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-nv.metrc.com"
	version = 2015001
	program-key = ""


;
; Oklahoma
[usa/ok]
	name = "Oklahoma / None"
	engine = ""
	version = ""


;
; Oregon
[usa/or]
	name = "Oregon / METRC"
	engine = "metrc"
	server = "https://api-or.metrc.com"
	version = 2015001
	program-key = ""


;
; Oregon / Test
[usa/or/test]
	name = "Oregon / METRC / Test"
	engine = "metrc"
	server = "https://sandbox-api-or.metrc.com"
	version = 2015001
	program-key = ""


;
; Pennsylvania
[usa/pa]
	name = "Pennsylvania / LeafData"
	engine = "leafdata"
	server = "https://pa.leafdatazone.com/api/v1"
	version = 2018031


;
; Utah (pending)
[usa/ut]
	name = "Utah / LeafData"
	engine = "leafdata"
	server = ""
	version = ""


;
; Washington
[usa/wa]
	name = "Washington / LeafData"
	engine = "leafdata"
	server = "https://traceability.lcb.wa.gov/api/v1"
	server = "https://wa.leafdatazone.com/api/v1"


;
; Washington / Test
[usa/wa/test]
	name = "Washington / LeafData / Test"
	engine = "leafdata"
	server = "https://watest.leafdatazone.com/api/v1"


;
; Washington / BioTrack UCS
[usa/wa/ucs]
	name = "Washington / BioTrack / UCS"
	engine = "biotrack"
	server = "https://wa.biotrackthc.net/serverjson.asp"
	version = 2017001


;
; Washington @deprecated, reference only
;[usa/wa]
;	name = "Washington / BioTrack / LCB"
;	engine = "biotrack"
;	server = "https://wslcb.mjjtraceability.com/serverjson.asp"


;
; Mock Interfaces
;


;
; BioTrack Mock
[openthc/biotrack/mock]
	name = "OpenTHC / BioTrack / Mock"
	engine = "biotrack"
	server = "https://bunk.openthc.org/biotrack/v2013/serverjson.asp"
	version = 2014001


;
; LeafData Mock
[openthc/leafdata/mock]
	name = "OpenTHC / LeafData / Mock"
	engine = "leafdata"
	server = "https://bunk.openthc.org/leafdata/v2018"
	version = 2018031


;
; METRC Mock
[openthc/metrc/mock]
	name = "OpenTHC / METRC / Mock"
	engine = "metrc"
	server = "https://bunk.openthc.org/metrc/v2015"
	version = 2015001
	program-key = ""
