{% extends "layout/html.html" %}

{% block body %}

<h1>Authenticate</h1>

<form action="?r=%2Fbrowse" autocomplete="x" method="post">

<div class="form-group">
	<label>RCE</label>
	<select class="form-control" name="rce">
	{% for rce_stub, rce_data in rce_list %}
		<option {{ rce_stub == rce_code ? " selected " }} value="{{ rce_stub }}">{{ rce_data.name ? rce_data.name : rce_stub }}</option>
	{% endfor %}
	</select>
</div>

<div class="form-group">
	<label>Company:</label>
	<input autocomplete="x" class="form-control" name="rce-meta-company" placeholder="Company ID, like a UBI or something - BioTrack, LeafData" value="{{ rce_meta_company }}">
</div>

<div class="form-group">
	<label>License:</label>
	<input autocomplete="x" class="form-control" name="rce-meta-license" placeholder="LeafData, METRC*" value="{{ rce_meta_license }}">
</div>

<div class="form-group">
	<label>Vendor API Key:</label>
	<input autocomplete="x" class="form-control" name="rce-meta-vendor-apikey" placeholder="METRC" value="{{ rce_meta_vendor_api_key }}">
</div>

<div class="form-group">
	<label>Client API Key:</label>
	<input autocomplete="x" class="form-control" name="rce-meta-client-apikey" placeholder="LeafData, METRC" value="{{ rce_meta_client_api_key }}">
</div>

<div class="form-group">
	<label>Username:</label>
	<input autocomplete="x" class="form-control" name="rce-meta-username" placeholder="BioTrack" value="{{ rce_meta_username }}">
</div>

<div class="form-group">
	<label>Password:</label>
	<input autocomplete="x" class="form-control" name="rce-meta-password" placeholder="BioTrack" value="{{ rce_meta_password }}">
</div>

<button class="btn btn-lg btn-outline-primary" type="submit">Connect</button>

</form>

{% endblock %}

{% block foot_script %}

<script>
$(function() {
	
});
</script>

{% endblock %}
