{% extends "layout/html.html" %}

{% block body %}

<div class="container">

<h1>Authenticate</h1>

<form autocomplete="x" method="post">

<div class="form-group">
	<label>CRE:</label>
	<select class="form-control" id="cre" name="cre">
	<option value="">- Select CRE -</option>
	{% for cre_stub, cre_data in cre_list %}
		<option data-engine="{{ cre_data.engine }}" {{ cre_stub == cre_code ? "selected " }} value="{{ cre_stub }}">{{ cre_data.name ? cre_data.name : cre_stub }}</option>
	{% endfor %}
	</select>
</div>

<div class="form-group" data-biotrack="true" data-leafdata="true">
	<label>Company:</label>
	<input autocomplete="x" class="form-control company-autocomplete" name="company" placeholder="Company ID, like a UBI or something - BioTrack, LeafData" value="{{ cre_company }}">
</div>

<div class="form-group" data-leafdata="true" data-metrc="true">
	<label>License:</label>
	<input autocomplete="x" class="form-control license-autocomplete" name="license" placeholder="LeafData, METRC*" value="{{ cre_license }}">
</div>

<div class="form-group" data-metrc="true">
	<label>Program API Key:</label>
	<input autocomplete="x" class="form-control" name="program-key" placeholder="METRC" value="{{ cre_program_key }}">
</div>

<div class="form-group" data-leafdata="true" data-metrc="true">
	<label>License API Key:</label>
	<input autocomplete="x" class="form-control" name="license-key" placeholder="LeafData, METRC" value="{{ cre_license_key }}">
</div>

<div class="form-group" data-biotrack="true">
	<label>Username:</label>
	<input autocomplete="x" class="form-control" name="username" placeholder="BioTrack" value="{{ cre_username }}">
</div>

<div class="form-group" data-biotrack="true">
	<label>Password:</label>
	<input autocomplete="x" class="form-control" name="password" placeholder="BioTrack" value="{{ cre_password }}">
</div>

{% if google_recaptcha_v2 %}
	<div class="form-group">
		<div class="g-recaptcha" data-sitekey="{{ google_recaptcha_v2.public }}"></div>
	</div>
	<script src="https://www.google.com/recaptcha/api.js"></script>
{% endif %}

{% if google_recaptcha_v3 %}
	<script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_v3.public }}"></script>
	<script>
	grecaptcha.ready(function() {
		grecaptcha.execute('{{ google_recaptcha_v3.public }}', {action: 'login'}).then(function(token) {
			$('').val(token);
		});
	});
  </script>
{% endif %}

<button class="btn btn-lg btn-outline-primary" name="a" type="submit" value="auth-web">Connect</button>

</form>

</div>

{% endblock %}

{% block foot_script %}

{{ parent() }}

<script>
$(function() {

	$('#cre').on('change', function() {

		var $opt = $(this).find(':selected');
		var eng = $opt.data('engine');

		$('div[data-biotrack="true"]').hide();
		$('div[data-leafdata="true"]').hide();
		$('div[data-metrc="true"]').hide();

		var sel = 'div[data-' + eng + '="true"]';
		$(sel).show();

	});
	$('#cre').change();

	$('.company-autocomplete').autocomplete({
		source: 'https://directory.openthc.com/api/autocomplete/company',
	});

	$('.license-autocomplete').autocomplete({
		source: 'https://directory.openthc.com/api/autocomplete/license',
	});

});
</script>

{% endblock %}
