{% extends "layout/html.html" %}

{% block body %}

<h1>Stem</h1>

<p>
The <em>Stem</em> component is a pass-thru proxy for different cannabis regulatory compliance engines.
It provides input filtering, generous logging and improved error reporting.
</p>

<p>
Once you have configured a pass-thru target then you will simply make requests to this configured end-point.
</p>

<pre><code class="language-bash">
curl \
	--request POST \
	--header &quot;as-necessary&quot; \
	--data-binary &quot;as-necessary&quot; \
	https://pipe.openthc.com/stem/abcd1234
</code></pre>

<p>You must register with this system to get a defined end-point.</p>

{% endblock %}
